.App {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App button{
  width: 70px;
  height: 40px;
  font-size: 30px;
  margin-right: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.App button:hover{
  color: white;
  background-color: rgb(58, 58, 58);
}